.custom-navbar{
    background-color: black;
}
.custom-navbar a {
    color: aliceblue;
}
body{
    background-image: url(kepek/7.jpg);
    background-size: cover;
}
h1{
    color: aliceblue;
}
p{
    color: rgb(102, 255, 0);
    margin-top: 20px;
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;
}
#modal{
    margin-left: 20px;
    
}
#kep{
    height: auto;
    width: 450px;
    margin-left: 360px;
}
#los{
    margin-left: 30px;
    
}
